<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>{{page}}</title>
    <link rel="icon" href="/media/images/favicon.jpg" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Hotel Green Mint" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="/media/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/media/css/swiper.css" rel="stylesheet" type="text/css">
    <link href="/media/css/style.css" rel="stylesheet" type="text/css">
    <link href="/media/css/coloring.css" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="/media/css/colors/scheme-01.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="wrapper">
        <a href="#" id="back-to-top"></a>

        <!-- page preloader begin -->
        <div id="de-loader"></div>
        <!-- page preloader close -->

        <!-- header begin -->
        <header class="transparent has-topbar">
            <div id="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between xs-hide">
                                <div class="header-widget d-flex">
                                    <div class="topbar-widget"><a href="#"><i class="icofont-location-pin"></i>Prem Nagar, Chand Nagar, Jammu - 180001, Jammu & Kashmir</a></div>
                                    <div class="topbar-widget"><a href="#"><i class="icofont-phone"></i>+91 9355997710</a></div>
                                    <div class="topbar-widget"><a href="#"><i class="icofont-envelope"></i>reception@greenminthotel.com</a></div>
                                </div>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                    <a href="https://x.com/"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
                                    <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-lg"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="/">
                                        <img class="logo-main" src="/media/images/logo.jpg" alt="">
                                        <img class="logo-scroll" src="/media/images/logo.jpg" alt="">
                                        <img class="logo-mobile" src="/media/images/logo.jpg" alt="">
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li>
                                        <a class="menu-item" href="/">Home</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/about/">About</a>
                                    </li>
                                    <li><a class="menu-item" href="#">Rooms</a>
                                        <ul class="mega">
                                            <li>
                                                <div class="container">
                                                    <div class="sb-menu p-4">
                                                        <div class="row g-3">
                                                            <div class="col-lg-3">
                                                                <h4>Rooms</h4>
                                                                <ul class="no-bg">
                                                                    {% for rooms in room %}
                                                                    <li><a href="{% url 'room_detail' rooms.slug %}">{{rooms.room}}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>

                                                            {% for rooms in room %}
                                                            <div class="col-lg-3 text-center">
                                                                <div class="relative hover text-center overflow-hidden soft-shadow rounded-5px">
                                                                    <a href="{% url 'room_detail' rooms.slug %}">
                                                                        {% if rooms.tag %}
                                                                        <div class="d-label">
                                                                            {{rooms.tag}}
                                                                        </div>
                                                                        {% endif %}
                                                                        <img src="/media/{{rooms.room_images.first.image}}" class="w-100 relative hover-scale-1-1" alt="{{rooms.room}}">
                                                                    </a>

                                                                    <div class="abs w-100 h-100 start-0 top-0 hover-bg-color"></div>
                                                                </div>
                                                                <h5 class="mt-3 mb-1">{{rooms.room}}</h5>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/facilities/">Facilities</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/destination/">Destination</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/faqs/">FAQs</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/gallery/">Gallery</a>
                                    </li>
                                    <!--<li><a class="menu-item" href="#">Pages</a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="facilities.html">Facilities</a></li>
                                            <li><a href="special-offers.html">Offers</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="gallery-carousel.html">Gallery Carousel</a></li>
                                        </ul>
                                    </li>-->
                                    <li><a class="menu-item" href="/contact/">Contact</a></li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="/reservation/" class="btn-main btn-line">Reservation</a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->

        {% block start %}

        {% endblock %}

        <!-- footer begin -->
        <footer class="text-light section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <img class="logo-footer" src="/media/images/logo.jpg" alt="logo" width="30%">
                        <p>Hotel Green Mint was established by our illustrious founder, Mr. Arvind Singh, Chairmen of UP Group of Industry, with the aim of serving foods and accommodations to people. Hotel Green Mint has presence in different parts of Pan India.</p>
                        <div class="social-icons mb-sm-30">
                            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                        <ul class="footer-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/rooms/">Rooms</a></li>
                            <li><a href="/facilities/">Facilities</a></li>
                            <li><a href="/destination/">Destination</a></li>
                            <li><a href="/faqs/">FAQs</a></li>
                            <li><a href="/gallery/">Gallery</a></li>
                            <li><a href="/contact/">Contact</a></li>
                            <li><a href="/property-policies/">Property Policy</a></li>
                            <li><a href="/rules-and-cancellation-policies/">Rules and Cancellation Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                        <h3 class="fs-20 color">Address</h3>
                        Opposite Gumat Petrol Pump,<br> Prem Nagar, Chand Nagar,<br> Jammu - 180001,<br> Jammu & Kashmir
                        <h3 class="fs-20 mt10 color">Contact Us</h3>
                        Tel - +91 9355997710<br>
                        Mail - reception@greenminthotel.com
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            Copyright &copy; 2024 - Hotel Green Mint
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/plugins.js"></script>
    <script src="/media/js/designesia.js"></script>
    <script src="/media/js/swiper.js"></script>
    <script src="/media/js/custom-marquee.js"></script>
    <script src="/media/js/custom-swiper-2.js"></script>

</body>
</html>