{% extends "base.html" %}

{% block start %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="subheader" class="relative jarallax text-light">
        <img src="/media/images/background/3.webp" class="jarallax-img" alt="banner">
        <div class="container relative z-index-1000">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="spacer-double"></div>
                    <h1>Destination</h1>
                    <ul class="crumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Destination</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="de-overlay"></div>
    </section>

    <section class="relative">
        <div class="container">
            <h2 class="text-center pb30">Popular Destinations Near Green Mint Hotel</h2>
            <div class="row g-4">
                <!-- offer begin -->
                <div class="col-lg-3 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".2s">
                        <img src="/media/images/destination/bahu-fort.jpg" height="203" class="w-100 hover-scale-1-1" alt="bahu-fort">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Bahu Fort</h3>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-3 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".3s">
                        <img src="/media/images/destination/hari-mahal.jpg" height="203" class="w-100 hover-scale-1-1" alt="hari-mahal">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Hari Mahal</h3>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-3 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".6s">
                        <img src="/media/images/destination/manda-zoo.jpg" height="203" class="w-100 hover-scale-1-1" alt="manda-zoo">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Manda Zoo</h3>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-3 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".2s">
                        <img src="/media/images/destination/mubarak-mandi-palace.jpg" height="203" class="w-100 hover-scale-1-1" alt="mubarak-mandi-palace">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Mubarak Mandi Palace</h3>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->
            </div>
        </div>
    </section>
</div>
<!-- content close -->

{% endblock %}