{% extends "base.html" %}

{% block start %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="subheader" class="relative jarallax text-light">
        <img src="/media/images/background/3.webp" class="jarallax-img" alt="">
        <div class="container relative z-index-1000">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="spacer-double"></div>
                    <h1>Facilities</h1>
                    <ul class="crumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Facilities</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="de-overlay"></div>
    </section>

    <section class="relative">
        <div class="container">
            <div class="row g-4">

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".6s">
                        <img src="/media/images/facilities/luxurious-rooms.webp" class="w-100 hover-scale-1-1" alt="luxurious-rooms">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Luxurious Rooms</h3>
                            <p class="max-line-4">Experience unparalleled comfort and style in our luxurious rooms, designed to provide a perfect blend of elegance and modern amenities.</p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".2s">
                        <img src="/media/images/facilities/1.webp" class="w-100 hover-scale-1-1" alt="Cafe and Restaurant">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Cafe and Restaurant</h3>
                            <p class="max-line-4">Indulge in a culinary journey at our exquisite restaurant, where world-class chefs craft delightful dishes using the finest ingredients.</p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".3s">
                        <img src="/media/images/facilities/2.webp" class="w-100 hover-scale-1-1" alt="Swimming Pool">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Swimming Pool</h3>
                            <p class="max-line-4">Dive into relaxation in our crystal-clear swimming pool, a perfect spot to unwind and soak up the sun.</p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".6s">
                        <img src="/media/images/facilities/3.webp" class="w-100 hover-scale-1-1" alt="Fitness Center">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Fitness Center</h3>
                            <p class="max-line-4">Stay active and energized during your stay with our state-of-the-art fitness center. Equipped with the latest exercise machines and free weights, our gym caters to all your workout needs.</p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".2s">
                        <img src="/media/images/facilities/indoor-sports.jpg" height="372" class="w-100 hover-scale-1-1" alt="Indoor Sports">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Indoor Sports</h3>
                            <p class="max-line-4">Enjoy a variety of indoor sports in our well-equipped recreation area, designed for both relaxation and excitement.</p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".4s">
                        <img src="/media/images/facilities/medical-services.jpg" height="372" class="w-100 hover-scale-1-1" alt="Access to Medical Services">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Access to Medical Services</h3>
                            <p class="max-line-4">Your health and well-being are our top priorities. Our hotel provides convenient access to medical services, including on-call doctors and first-aid facilities.</p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->
            </div>
        </div>
    </section>
</div>
<!-- content close -->

{% endblock %}