{% extends "base.html" %}

{% block start %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="subheader" class="relative jarallax text-light">
        <img src="/media/images/background/mixed-1.webp" class="jarallax-img" alt="">
        <div class="container relative z-index-1000">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="spacer-double"></div>
                    <h1>Facilities</h1>
                    <ul class="crumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Facilities</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="de-overlay"></div>
    </section>

    <section class="relative">
        <div class="container">
            <div class="row g-4">
                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".2s">
                        <img src="/media/images/facilities/1.webp" class="w-100 hover-scale-1-1" alt="">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Cafe and Restaurant</h3>
                            <p class="max-line-4">
                                Escape to luxury this weekend with our exclusive 20% off deal! 🌟 Enjoy stunning views, gourmet dining, and relaxing spa treatments. Book now and make your weekend unforgettable!
                            </p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".3s">
                        <img src="/media/images/facilities/2.webp" class="w-100 hover-scale-1-1" alt="">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Swimming Pool</h3>
                            <p class="max-line-4">
                                "Family fun awaits! Book our Family Package and enjoy free breakfast for kids, access to the kids' club, and a special welcome gift. Create memories that last a lifetime at our family-friendly hotel. 👨‍👩‍👧‍👦
                            </p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".6s">
                        <img src="/media/images/facilities/3.webp" class="w-100 hover-scale-1-1" alt="">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Fitness Center</h3>
                            <p class="max-line-4">
                                Surprise your loved one with a romantic escape! Our Romance Package includes a candlelit dinner, champagne on arrival, and a couples' massage. Book your dream getaway today! ❤️
                            </p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".2s">
                        <img src="/media/images/facilities/4.webp" class="w-100 hover-scale-1-1" alt="">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Meeting Room</h3>
                            <p class="max-line-4">
                                Dive into summer with our exclusive Summer Special! ☀️ Enjoy 15% off your stay, free access to the pool, and a complimentary cocktail on arrival. Book now and soak up the sun!
                            </p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".4s">
                        <img src="/media/images/facilities/5.webp" class="w-100 hover-scale-1-1" alt="">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Spa &amp; Massage</h3>
                            <p class="max-line-4">
                                "Calling all adventure seekers! 🌲 Book our Outdoor Adventure Package and explore the great outdoors with guided hikes, bike rentals, and more. Get ready for an adrenaline-pumping experience!"
                            </p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->

                <!-- offer begin -->
                <div class="col-lg-4 col-sm-6">
                    <div class="hover relative overflow-hidden text-light wow fadeInUp" data-wow-delay=".6s">
                        <img src="/media/images/facilities/6.webp" class="w-100 hover-scale-1-1" alt="">
                        <div class="abs z-2 bottom-0 mb-3 w-100 padding40">
                            <h3>Laundry Service</h3>
                            <p class="max-line-4">
                                "Indulge in ultimate relaxation with our Spa and Relaxation Package. 🧘‍♀️ Enjoy luxurious accommodations, daily breakfast, and rejuvenating spa treatments. Book your wellness retreat now and unwind in style!"
                            </p>
                        </div>
                        <div class="overlay-gradient-dark-bottom abs w-100 h-80 bottom-0"></div>
                    </div>
                </div>
                <!-- offer end -->
            </div>
        </div>
    </section>
</div>
<!-- content close -->

{% endblock %}