{% extends "base.html" %}

{% block start %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="subheader" class="relative jarallax text-light">
        <img src="/media/images/background/3.webp" class="jarallax-img" alt="">
        <div class="container relative z-index-1000">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="spacer-double"></div>
                    <h1>Gallery</h1>
                    <ul class="crumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="de-overlay"></div>
    </section>

    <section class="relative">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/1.webp" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/1.webp" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/2.webp" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/2.webp" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/3.webp" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/3.webp" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/4.webp" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/4.webp" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/5.webp" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/5.webp" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/6.webp" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/6.webp" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/7.html" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/7.html" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/8.html" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/8.html" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 text-center">
                    <a href="/media/images/gallery/9.html" class="image-popup d-block hover">
                        <div class="relative overflow-hidden rounded-10">
                            <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                <h4 class="mb-0 hover-scale-in-3">View</h4>
                            </div>
                            <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                            <img src="/media/images/gallery/9.html" class="img-fluid hover-scale-1-2" alt="">
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
</div>
<!-- content close -->

{% endblock %}