{% extends "base.html" %}

{% block start %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">

    <div id="top"></div>

    <section class="section-dark text-light no-top no-bottom position-relative overflow-hidden z-1000">
        <div class="v-center">
            <div class="swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="swiper-inner" data-bgimage="url(/media/images/background/1.webp)">
                        <div class="sw-caption z-1000">
                            <div class="container">
                                <div class="row g-4 align-items-center">

                                    <div class="spacer-double"></div>

                                    <div class="col-lg-8 offset-lg-2 text-center">
                                        <div class="spacer-double"></div>
                                        <div class="spacer-double"></div>
                                        <div class="sw-text-wrapper">
                                            <div class="slider-extra mb-3">
                                                <span class="d-stars">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                </span>
                                            </div>
                                            <h1 class="slider-title mb-4">Where Every Stay is Extraordinary</h1>
                                            <p class="col-lg-8 offset-lg-2 slider-teaser px-4 mb-0">Discover the perfect blend of luxury, comfort, and convenience at Green Mint Hotel. Nestled in the heart of Jammu, our hotel is your gateway to an unforgettable experience.</p>
                                            <div class="spacer-30"></div>
                                            <a class="btn-main mb10 mb-3" href="/rooms/">Discover Rooms</a>
                                        </div>
                                    </div>

                                    <div class="spacer-single"></div>
                                </div>

                            </div>
                        </div>

                        <div class="abs abs-centered">
                            <div class="box-slider-decor"></div>
                        </div>
                        <div class="sw-overlay op-2"></div>
                    </div>
                </div>
                <!-- Slides -->

                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="swiper-inner" data-bgimage="url(/media/images/background/2.webp)">
                        <div class="sw-caption z-1000">
                            <div class="container">
                                <div class="row g-4 align-items-center">

                                    <div class="spacer-double"></div>

                                    <div class="col-lg-8 offset-lg-2 text-center">
                                        <div class="spacer-double"></div>
                                        <div class="spacer-double"></div>
                                        <div class="sw-text-wrapper">
                                            <div class="slider-extra mb-3">
                                                <span class="d-stars">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                </span>
                                            </div>
                                            <h1 class="slider-title mb-4">Experience Hospitality Like Never Before</h1>
                                            <p class="col-lg-8 offset-lg-2 slider-teaser px-4 mb-0">Discover the perfect blend of luxury, comfort, and convenience at Green Mint Hotel. Nestled in the heart of Jammu, our hotel is your gateway to an unforgettable experience.</p>
                                            <div class="spacer-30"></div>
                                            <a class="btn-main mb10 mb-3" href="/rooms/">Discover Rooms</a>
                                        </div>
                                    </div>

                                    <div class="spacer-single"></div>
                                </div>

                            </div>
                        </div>

                        <div class="abs abs-centered">
                            <div class="box-slider-decor"></div>
                        </div>
                        <div class="sw-overlay op-2"></div>
                    </div>
                </div>
                <!-- Slides -->

                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="swiper-inner" data-bgimage="url(/media/images/background/3.webp)">
                        <div class="sw-caption z-1000">
                            <div class="container">
                                <div class="row g-4 align-items-center">

                                    <div class="spacer-double"></div>

                                    <div class="col-lg-8 offset-lg-2 text-center">
                                        <div class="spacer-double"></div>
                                        <div class="spacer-double"></div>
                                        <div class="sw-text-wrapper">
                                            <div class="slider-extra mb-3">
                                                <span class="d-stars">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                </span>
                                            </div>
                                            <h1 class="slider-title mb-4">Experience Hospitality Like Never Before</h1>
                                            <p class="col-lg-8 offset-lg-2 slider-teaser px-4 mb-0">Discover the perfect blend of luxury, comfort, and convenience at Green Mint Hotel. Nestled in the heart of Jammu, our hotel is your gateway to an unforgettable experience.</p>
                                            <div class="spacer-30"></div>
                                            <a class="btn-main mb10 mb-3" href="/rooms/">Discover Rooms</a>
                                        </div>
                                    </div>

                                    <div class="spacer-single"></div>
                                </div>

                            </div>
                        </div>

                        <div class="abs abs-centered">
                            <div class="box-slider-decor"></div>
                        </div>
                        <div class="sw-overlay op-2"></div>
                    </div>
                </div>
                <!-- Slides -->

                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="swiper-inner" data-bgimage="url(/media/images/background/4.webp)">
                        <div class="sw-caption z-1000">
                            <div class="container">
                                <div class="row g-4 align-items-center">

                                    <div class="spacer-double"></div>

                                    <div class="col-lg-8 offset-lg-2 text-center">
                                        <div class="spacer-double"></div>
                                        <div class="spacer-double"></div>
                                        <div class="sw-text-wrapper">
                                            <div class="slider-extra mb-3">
                                                <span class="d-stars">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                </span>
                                            </div>
                                            <h1 class="slider-title mb-4">Experience Hospitality Like Never Before</h1>
                                            <p class="col-lg-8 offset-lg-2 slider-teaser px-4 mb-0">Discover the perfect blend of luxury, comfort, and convenience at Green Mint Hotel. Nestled in the heart of Jammu, our hotel is your gateway to an unforgettable experience.</p>
                                            <div class="spacer-30"></div>
                                            <a class="btn-main mb10 mb-3" href="/rooms/">Discover Rooms</a>
                                        </div>
                                    </div>

                                    <div class="spacer-single"></div>
                                </div>

                            </div>
                        </div>

                        <div class="abs abs-centered">
                            <div class="box-slider-decor"></div>
                        </div>
                        <div class="sw-overlay op-2"></div>
                    </div>
                </div>
                <!-- Slides -->

              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>

              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

              <!-- If we need scrollbar -->
              <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </section>

    <!--<div class="bg-dark text-light pt30 pb30">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-lg-9">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-3 text-lg-start text-center">
                            <h3 class="mb-0">Reservation</h3>
                        </div>

                        <div class="col-md-3">
                            <div class="text-center ">
                                <h6 class="id-color mb-1">Choose Date</h6>
                                <input type="text" id="date-picker" class="form-control no-border no-bg bg-focus-color text-white fs-20 text-right text-center" name="date" value="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="text-center ">
                                <h6 class="id-color">Adult</h6>
                                <div class="de-number">
                                    <span class="d-minus">-</span>
                                    <input type="text" class="no-border no-bg" value="1">
                                    <span class="d-plus">+</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="text-center ">
                                <h6 class="id-color">Children</h6>
                                <div class="de-number">
                                    <span class="d-minus">-</span>
                                    <input type="text" class="no-border no-bg" value="0">
                                    <span class="d-plus">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-lg-end text-center">
                    <a class="btn-main" href="/rooms/">Check Availability</a>
                </div>
            </div>
        </div>
    </div>-->

    <section id="section-about">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="relative">
                        <img src="/media/images/misc/7.webp" class="w-100 pe-5 pb-5 wow scaleIn" alt="">
                        <img src="/media/images/misc/6.webp" class="w-50 abs end-0 bottom-0 z-2 wow scaleIn" data-wow-delay=".2s" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ps-lg-3">
                        <div class="subtitle id-color wow fadeInUp" data-wow-delay=".2s">Welcome to Hotel Green Mint</div>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Your Comfort, Our Commitment</h2>
                        <p class="mb-0 wow fadeInUp" data-wow-delay=".6s">Hotel Green Mint was established by our illustrious founder, Mr. Arvind Singh, Chairmen of UP Group of Industry, with the aim of serving foods and accommodations to people. Hotel Green Mint has presence in different parts of Pan India. All our hotels have luxurious rooms, gyms, swimming pools, and indoor sports facilities. We serve all types of foods, such as Indian and Continental, cooked by well-trained chefs. You are doing various sightseeing near our hotels to enjoy nature. We have created our hotel to be unique and full of individual expressions of modern travel and contemporary living. Whatever you want, whenever you want it, the Hotel Green Mint has something to fulfill your aspirations.</p>
                    </div>
                </div>
            </div>

            <div class="spacer-double"></div>

            <div class="row g-4 relative z-2">

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".0s" >
                    <div class="relative p-4 bg-white soft-shadow height">
                        <span class="abs w-70px p-3 bg-color d-block">
                                <img src="/media/images/svg/meeting-explain-svgrepo-com.svg" class="w-100" alt="Luxurious Rooms">
                        </span>
                        <div class="pl-90">
                            <h4>Luxurious Rooms</h4>
                            <p class="mb-0 text-justify">Experience unparalleled comfort and style in our luxurious rooms, designed to provide a perfect blend of elegance and modern amenities.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="relative p-4 bg-white soft-shadow height">
                        <span class="abs w-70px p-3 bg-color d-block">
                            <img src="/media/images/svg/restaurant-svgrepo-com.svg" class="w-100" alt="Restaurant">
                        </span>
                        <div class="pl-90">
                            <h4>Restaurant</h4>
                            <p class="mb-0 text-justify">Indulge in a culinary journey at our exquisite restaurant, where world-class chefs craft delightful dishes using the finest ingredients.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="relative p-4 bg-white soft-shadow height">
                        <span class="abs w-70px p-3 bg-color d-block">
                            <img src="/media/images/svg/swimming-pool-svgrepo-com.svg" class="w-100" alt="Swimming Pool">
                        </span>
                        <div class="pl-90">
                            <h4>Swimming Pool</h4>
                            <p class="mb-0 text-justify">Dive into relaxation in our crystal-clear swimming pool, a perfect spot to unwind and soak up the sun.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                    <div class="relative p-4 bg-white soft-shadow height">
                        <span class="abs w-70px p-3 bg-color d-block">
                            <img src="/media/images/svg/fitness-gym-svgrepo-com.svg" class="w-100" alt="Fitness Center">
                        </span>
                        <div class="pl-90">
                            <h4>Fitness Center</h4>
                            <p class="mb-0 text-justify">Stay active and energized during your stay with our state-of-the-art fitness center. Equipped with the latest exercise machines and free weights, our gym caters to all your workout needs.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1.2s">
                    <div class="relative p-4 bg-white soft-shadow height">
                        <span class="abs w-70px p-3 bg-color d-block">
                            <img src="/media/images/svg/flower-lotus-thin-svgrepo-com.svg" class="w-100" alt="Indoor Sports">
                        </span>
                        <div class="pl-90">
                            <h4>Indoor Sports</h4>
                            <p class="mb-0 text-justify">Enjoy a variety of indoor sports in our well-equipped recreation area, designed for both relaxation and excitement. Our indoor sports facilities provide endless entertainment, ensuring you have fun no matter the weather.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1.5s">
                    <div class="relative p-4 bg-white soft-shadow height">
                        <span class="abs w-70px p-3 bg-color d-block">
                            <img src="/media/images/svg/laundry-machine-svgrepo-com.svg" class="w-100" alt="Access to Medical Services">
                        </span>
                        <div class="pl-90">
                            <h4>Access to Medical Services</h4>
                            <p class="mb-0 text-justify">Your health and well-being are our top priorities. Our hotel provides convenient access to medical services, including on-call doctors and first-aid facilities.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="jarallax relative overflow-hidden text-light section-dark">
        <img src="/media/images/background/1.webp" class="jarallax-img" alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="owl-single-dots owl-carousel owl-theme">
                        <div class="item">
                            <i class="icofont-quote-left id-color fs-40 mb-4 wow fadeInUp"></i>
                            <h3 class="mb-4 wow fadeInUp fs-32">"The hotel offers many great amenities, like a beautiful pool and a top-notch restaurant. The staff was friendly and responsive, and the 24/7 reception was a big plus."</h3>
                            <span class="wow fadeInUp">Shweta Sharma</span>
                        </div>

                        <div class="item">
                            <i class="icofont-quote-left id-color fs-40 mb-4 wow fadeInUp"></i>
                            <h3 class="mb-4 wow fadeInUp fs-32 lh-1-5">"We had an incredible stay at this hotel! The rooms were luxurious and comfortable, with beautiful views of the city. The staff was incredibly attentive and made us feel right at home."</h3>
                            <span class="wow fadeInUp">Rohil Roy</span>
                        </div>

                        <div class="item">
                            <i class="icofont-quote-left id-color fs-40 mb-4 wow fadeInUp"></i>
                            <h3 class="mb-4 wow fadeInUp fs-32 lh-1-5">"I stayed here for a business trip, and the hotel exceeded all my expectations. The reception staff was available 24/7, which was perfect for my late check-in."</h3>
                            <span class="wow fadeInUp">Rachna Tyagi</span>
                        </div>

                        <div class="item">
                            <i class="icofont-quote-left id-color fs-40 mb-4 wow fadeInUp"></i>
                            <h3 class="mb-4 wow fadeInUp fs-32 lh-1-5">"Our family had a wonderful time at this hotel. The Family Suite was spacious and perfect for us. The kids loved the indoor sports area, and we all enjoyed the delicious breakfast spread each morning."</h3>
                            <span class="wow fadeInUp">Sapna Sharma</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <img src="/media/images/reception/leaf-rt.webp" class="w-20 abs end-0 top-0 z-2" alt="">
        <img src="/media/images/reception/leaf-lt.webp" class="w-20 abs start-0 top-0 z-2" alt="">

        <div class="de-overlay"></div>
    </section>

    <section id="section-rooms">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="subtitle id-color wow fadeInUp">Our Rooms</div>
                    <h2 class="wow fadeInUp mb-4">Accomodation</h2>
                </div>
            </div>

            <div class="row g-4">
                <!-- room begin -->
                {% for rooms in room %}
                <div class="col-lg-4 col-sm-6">
                    <div class="bg-light hover relative text-center wow fadeInUp" data-wow-delay=".3s">
                        <div class="relative overflow-hidden">
                            {% if rooms.tag %}
                            <div class="fs-14 p-0 px-3 abs bg-light text-dark fw-600 ms-3 mt-3 z-2">{{rooms.tag}}</div>
                            {% endif %}
                            <img src="/media/{{rooms.room_images.first.image}}" class="img-fluid hover-scale-1-1" alt="{{rooms.room}}">
                        </div>
                        <div class="p-3 mb-3 w-100 text-center">
                            <h3 class="mb-0">{{rooms.room}}</h3>
                            <div class="text-center fs-14 mb-3">
                                <span class="mx-2">
                                    {{rooms.number_of_guests}} Guests
                                </span>
                                <span class="mx-2">
                                    {{rooms.room_area}} sqft
                                </span>
                                <span class="mx-2">
                                    Rs. {{rooms.price}}/night
                                </span>
                            </div>
                            <a class="btn-main w-100" href="{% url 'room_detail' rooms.slug %}">Book Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- room end -->
            </div>
        </div>
    </section>

    <section class="no-top no-bottom section-dark" aria-label="section">
        <a class="d-block hover popup-youtube" href="https://www.youtube.com/">
            <div class="relative overflow-hidden">
                <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                    <div class="player wow scaleIn"><span></span></div>
                </div>
                <div class="absolute w-100 h-100 top-0 bg-dark hover-op-05"></div>
                <img src="/media/images/background/2.webp" class="img-fluid" alt="image">
            </div>
        </a>
    </section>

    <section class="relative">
        <div class="container relative z-2">
            <div class="row g-4">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="subtitle id-color wow fadeInUp mb-3">Rooms &amp; Suites</div>
                    <h2 class="wow fadeInUp">Our Facilities</h2>
                </div>
                <div class="col-md-6">
                    <div class="relative">
                        <img src="/media/images/misc/7.webp" class="img-fluid wow fadeInUp" alt="">
                        <div class="bg-color text-light p-4 start-10 mx-4  mt-70 wow fadeInDown" data-wow-delay="">
                            <div class="row g-4 align-items-center">
                                <div class="col-lg-5 text-center">
                                    <div class="de_count fs-15 wow fadeInRight" data-wow-delay=".2s">
                                        <h3 class="fs-60"><span class="timer fs-60" data-to="120" data-speed="3000">0</span>+</h3>
                                        Rooms Available
                                    </div>
                                </div>

                                <div class="col-lg-7">
                                    <p class="no-bottom">Elegantly designed with modern decor, our rooms offer a perfect balance of comfort and luxury.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="relative">
                        <img src="/media/images/misc/8.webp" class="img-fluid wow fadeInUp" alt="">
                        <div class="bg-color text-light p-4 start-10 mx-4  mt-70 wow fadeInDown" data-wow-delay="">
                            <div class="row g-4 align-items-center">
                                <div class="col-lg-5 text-center">
                                    <div class="de_count fs-15 wow fadeInRight" data-wow-delay=".2s">
                                        <h3 class="fs-60"><span class="timer fs-60" data-to="105" data-speed="3000">0</span>+</h3>
                                        Menu Selection
                                    </div>
                                </div>

                                <div class="col-lg-7">
                                    <p class="no-bottom">We serve all types of foods, such as Indian and Continental, cooked by well-trained chefs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer-single"></div>

    </section>

    <section class="bg-light relative pt50 no-bottom">
        <div class="container relative z-2">
            <div class="row g-4">
                <div class="col-lg-8 offset-lg-2 mb-4 text-center">
                    <div class="subtitle id-color wow fadeInUp mb-3">Our Gallery</div>
                    <h2 class="wow fadeInUp">Showcase</h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="row g-0">
                        <div class="col-3">
                            <a href="/media/images/gallery-square/1.webp" class="image-popup d-block hover">
                                <img src="/media/images/gallery-square/1.webp" class="w-100 hover-scale-1-1" alt="">
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="/media/images/gallery-square/2.webp" class="image-popup d-block hover">
                                <img src="/media/images/gallery-square/2.webp" class="w-100 hover-scale-1-1" alt="">
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="/media/images/gallery-square/3.webp" class="image-popup d-block hover">
                                <img src="/media/images/gallery-square/3.webp" class="w-100 hover-scale-1-1" alt="">
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="/media/images/gallery-square/4.webp" class="image-popup d-block hover">
                                <img src="/media/images/gallery-square/4.webp" class="w-100 hover-scale-1-1" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row g-0">
                        <div class="col-3">
                            <a href="/media/images/gallery-square/5.webp" class="image-popup d-block hover">
                                <img src="/media/images/gallery-square/5.webp" class="w-100 hover-scale-1-1" alt="">
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="/media/images/gallery-square/6.webp" class="image-popup d-block hover">
                                <img src="/media/images/gallery-square/6.webp" class="w-100 hover-scale-1-1" alt="">
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="/media/images/gallery-square/7.webp" class="image-popup d-block hover">
                                <img src="/media/images/gallery-square/7.webp" class="w-100 hover-scale-1-1" alt="">
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="/media/images/gallery-square/8.webp" class="image-popup d-block hover">
                                <img src="/media/images/gallery-square/8.webp" class="w-100 hover-scale-1-1" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="relative">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="subtitle id-color wow fadeInUp mb-2">Hurry Up</div>
                    <h2 class="wow fadeInUp">Special Offers</h2>

                    <div class="spacer-half"></div>

                    <div class="row g-4">
                        <div class="col-lg-6 col-md-6 wow fadeInRight" data-wow-delay=".2s">
                            <div class="relative">
                                <a href="/contact/">
                                    <i class="bg-color text-light p-3 fs-48 mb-4 icofont-read-book"></i>
                                    <h4>Reception 24*7</h4>
                                </a>
                                <p>Our reception is available 24/7 to assist you with any needs or inquiries, ensuring you have a seamless and enjoyable stay.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 wow fadeInRight" data-wow-delay=".4s">
                            <div class="relative">
                                <a href="/contact/">
                                    <i class="bg-color text-light p-3 fs-48 mb-4 icofont-phone"></i>
                                    <h4>Reservation Online</h4>
                                </a>
                                <p>Booking your stay has never been easier with our seamless online reservation system.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="relative">
                        <div class="row g-3 align-items-center">
                            <div class="col-6 wow fadeInUp" data-wow-delay=".2s">
                                <img src="/media/images/reception/4.webp" class="img-fluid" alt="">
                            </div>
                            <div class="col-6 wow fadeInUp" data-wow-delay=".4s">
                                <img src="/media/images/reception/5.webp" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="p-0 overflow-hidden">
        <div class="container-fluid">

            <div class="row g-0">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="bg-color-3 relative hover overflow-hidden wow fadeInUp" data-wow-delay=".3s">
                        <div class="absolute z-2 w-100 h-100 padding30 bg-light hover-op-1 hover-mt-40">
                            <h4>Stay</h4>
                            <p>Experience the perfect blend of comfort and luxury during your stay with us. Whether you're here for business or leisure, our well-appointed rooms and top-notch amenities are designed to make your visit unforgettable. From plush bedding and modern conveniences to personalized service, everything is tailored to ensure you have a relaxing and enjoyable stay.</p>
                            <a class="btn-main" href="/facilities/">Read more</a>
                        </div>
                       <div class="text-center">
                           <img src="/media/images/misc/4.webp" class="w-100" alt="">
                       </div>
                       <div class="abs abs-center z-1 text-light bottom-0 mb-4">
                           <h3>Stay</h3>
                       </div>
                       <div class="gradient-trans-color-bottom abs w-100 h-40 bottom-0"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="bg-color-3 relative hover overflow-hidden wow fadeInUp" data-wow-delay=".6s">
                        <div class="absolute z-2 w-100 h-100 padding30 bg-light hover-op-1 hover-mt-40">
                            <h4>Dine</h4>
                            <p>Savor exceptional dining experiences with us, where every meal is a celebration of flavor and creativity. Our restaurant offers a diverse menu featuring such as indian and continental cuisine, crafted by our talented chefs using the freshest ingredients. Whether you're enjoying a leisurely breakfast, a business lunch, or a romantic dinner, our warm ambiance and impeccable service make every dining moment special.</p>
                            <a class="btn-main" href="/facilities/">Read more</a>
                        </div>
                       <div class="text-center">
                           <img src="/media/images/misc/11.webp" class="w-100" alt="">
                       </div>
                       <div class="abs abs-center z-1 text-light bottom-0 mb-4">
                           <h3>Dine</h3>
                       </div>
                       <div class="gradient-trans-color-bottom abs w-100 h-40 bottom-0"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="bg-color-3 relative hover overflow-hidden wow fadeInUp" data-wow-delay=".9s">
                        <div class="absolute z-2 w-100 h-100 padding30 bg-light hover-op-1 hover-mt-40">
                            <h4>Fun</h4>
                            <p>Unwind and enjoy endless fun during your stay with our variety of entertainment options. Whether you're lounging by the pool, playing indoor sports, or exploring nearby attractions, there's something for everyone. Our hotel offers activities and amenities designed to keep you entertained, ensuring your stay is filled with joy and excitement.</p>
                            <a class="btn-main" href="/facilities/">Read more</a>
                        </div>
                       <div class="text-center">
                           <img src="/media/images/misc/2.webp" class="w-100" alt="">
                       </div>
                       <div class="abs abs-center z-1 text-light bottom-0 mb-4">
                           <h3>Fun</h3>
                       </div>
                       <div class="gradient-trans-color-bottom abs w-100 h-40 bottom-0"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
<!-- content close -->

{% endblock %}