{% extends "base.html" %}

{% block start %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="subheader" class="relative jarallax text-light">
        <img src="/media/images/background/3.webp" class="jarallax-img" alt="">
        <div class="container relative z-index-1000">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="spacer-double"></div>
                    <h1>Property Policies</h1>
                    <ul class="crumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Property Policies</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="de-overlay"></div>
    </section>

    <section class="relative">
        <div class="container">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12">
                    <h2>Property Policies</h2>
                    <p>The guests will be held responsible for any loss or damage to the hotel property caused by themselves, their guests, or any person for whom they are responsible.</p>
                    <p>It is agreed that the guest will respectably conduct himself/ herself and will not cause any nuisance or annoyance within the hotel premises.</p>
                    <p>Any legal practices related to hotel will be held in Ghaziabad.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content close -->

{% endblock %}