{% extends "base.html" %}

{% block start %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="subheader" class="relative jarallax text-light">
        <img src="/media/images/background/3.webp" class="jarallax-img" alt="banner">
        <div class="container relative z-index-1000">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="spacer-double"></div>
                    <h1>Reservation</h1>
                    <ul class="crumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Reservation</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="de-overlay"></div>
    </section>

    <section id="section_form" class="relative lines-deco">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div id="success_message" class="text-center">
                        <h2>Your reservation has been sent successfully.</h2>
                        <div class="col-lg-8 offset-lg-2">
                            <p>We will contact you shortly. Refresh this page if you want to make another reservation.</p>

                            <img src="/media/images/misc/2.webp" class="w-100 rounded-up-100" alt="">
                        </div>
                    </div>

                    <div id="booking_form">
                        <form id='contact_form' class="form-border" method="post">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-md-12">
                                    <h4>Choose Date</h4>
                                    <input type="text" name="date" id="date-picker" class="form-control mb-4" required>

                                    <div class="guests-n-rooms mb-4">
                                        <div class="row g-4">
                                            <div class="col-md-3">
                                                <div class="text-center border-1 pt-2">
                                                    <h4>Adults</h4>
                                                    <div class="de-number">
                                                        <span class="d-minus">-</span>
                                                        <input type="text" name="no_of_adults" class="no-border no-bg" value="1" required>
                                                        <span class="d-plus">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="text-center border-1 pt-2">
                                                    <h4>Children</h4>
                                                    <div class="de-number">
                                                        <span class="d-minus">-</span>
                                                        <input type="text" name="no_of_children" class="no-border no-bg" value="0" required>
                                                        <span class="d-plus">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="text-center border-1 pt-2">
                                                    <h4>Room</h4>
                                                    <div id="d-room-count" class="de-number">
                                                        <span class="d-minus">-</span>
                                                        <input type="text" name="no_of_rooms" class="no-border no-bg" value="1" required>
                                                        <span class="d-plus">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="text-center border-1 pt-2">
                                                    <h4>Extra Bed</h4>
                                                    <div class="de-number">
                                                        <span class="d-minus">-</span>
                                                        <input type="text" name="no_of_extra_beds" class="no-border no-bg" value="0">
                                                        <span class="d-plus">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="select-room">
                                <h4>Select Room</h4>

                                <select name="room" class="room-type form-control" required>
                                    {% for rooms in room %}
                                      <option value='{{rooms.room}}' data-src="/media/images/form/1.jpg">
                                          {{rooms.room}} | Rs. {{rooms.price}}/night | {{rooms.number_of_guests}} Guests
                                      </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="step-2" class="row">
                                <h4>Enter your details</h4>

                                <div class="col-md-6">
                                    <div id='name_error' class='error'>Please enter your name.</div>
                                    <div>
                                        <input type='text' name='name' id='name' class="form-control" placeholder="Your Name" required>
                                    </div>

                                    <div id='email_error' class='error'>Please enter your valid E-mail ID.</div>
                                    <div>
                                        <input type='email' name='email' id='email' class="form-control" placeholder="Your Email" required>
                                    </div>

                                    <div id='phone_error' class='error'>Please enter your phone number.</div>
                                    <div>
                                        <input type='tel' name='phone' id='phone' pattern="[7-9]{1}[0-9]{9}" title="Phone number with 7-9 and remaining 9 digit with 0-9" class="form-control" placeholder="Your Phone" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <textarea name='message' id='message' class="form-control" placeholder="Your Message"></textarea>
                                </div>

                                <div class="col-md-12">
                                    <p id='submit' class="mt20">
                                        <input type='submit' id='send_message' value='Submit Form' class="btn-main">
                                    </p>
                                </div>
                            </div>
                        </form>
                        <div id='error_message' class='error'>Sorry, error occured this time sending your message.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content close -->

{% endblock %}