{% extends "base.html" %}

{% block start %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="subheader" class="relative jarallax text-light">
        <img src="/media/images/background/3.webp" class="jarallax-img" alt="">
        <div class="container relative z-index-1000">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="spacer-double"></div>
                    <h1>Rules and Cancellation Policies</h1>
                    <ul class="crumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Rules and Cancellation Policies</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="de-overlay"></div>
    </section>

    <section class="relative">
        <div class="container">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12">
                    <h2>Rules and Cancellation Policies</h2>
                    <h5 class="mb20">HOTEL GREEN MINT Management will highly appreciate your collaboration in abiding by these rules and regulations, whose aim is to ensure peaceful and safe stay for our Guests.</h5>
                    <p style="color: red;">Check-in time is 12:00 PM and check-out time is 2:00 PM. Early check-in and late check-out will be considered, subject to availability.</p>
                    <p> Extra person charges - Rs 1000 per person.</p>
                    <p style="color: red;">GST/Taxes will be levied additionally and applicable as per government directives.</p>
                    <p>100% advance payment must be submitted at the time of check-in.</p>
                    <p style="color: red;">MODE OF PAYMENT (CASH, DEBIT CARD ,CREDIT CARD)</p>
                    <p>We do not accept personal cheques for payment.</p>
                    <p style="color: red;">It is mandatory for all customers and their visiting guests to share their ID cards. Foreign nationals are required to present their passport and valid visa.</p>
                    <p>In case the guest fails to appear in the hotel by 6 p.m. of the accommodation day despite making a reservation, the fee for the room shall be charged by the hotel.</p>
                    <p style="color: red;">We do not allow visitors to enter the guest room.</p>
                    <p>Accommodation will be provided only to those guests whose details are registered at the hotel reception.</p>
                    <p style="color: red;">Guests will be provided room keys upon arrival and only after completing registration at the hotel reception desk.</p>
                    <p>Guests are required to show a photo ID at the time of check-in. Please note that all special requests are subject to availability and additional charges may apply.</p>
                    <p style="color: red;">A no refundable policy is a set of terms and conditions stating that a business will not accept returns, exchanges or refunds for products or services purchased under any circumstances.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content close -->

{% endblock %}